# **/.env
**/*.py~
**/*.mp4
**/*.log
**/violations.db
**/*__pycache__*
**/yolov8m.pt
**/violation_frames
**/yolov8m.pt
**/*.bak

.env_bak
.idea/
ByteTrack/
cython_bbox/
deep_sort/
env/
incoming_files/
processed_files/
templates_bak/
violations.db-shm
violations.db-wal
